django
djangorestframework
gunicorn
whitenoise
psycopg2-binary
dj-database-url
pillow
requests
PyJWT
PyYAML
python-dateutil
urllib3
idna
certifi
chardet
typing_extensions
rich
groq
python-decouple
djangorestframework-simplejwt
django-cors-headers
drf-yasg
faker
django-redis
psycopg2-binary